    

    .Title {
    margin-top: 80px; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    }


    .Logo {
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    }
